<div class="row">
<ul class="medium-block-grid-4 text-right">
    <li>
      <br><%= link_to image_tag('profile_label.png'), "/" %>
    </li>
    <li>
    </li>
    <li>
    </li>
    <li>
      <br><%= link_to image_tag('all.png'), causes_path%>
      <%= link_to image_tag('plus.png'), new_cause_path %>
      <% if user_signed_in? %>
      <%= link_to image_tag('profile.png'), user_path(current_user) %>
      <% else %>
      <%= link_to image_tag('profile.png'), new_user_session_path %>
      <% end %>
    </li>
  </ul>
</div>
<div class="row">
  <ul class="medium-block-grid-4">
    <li>
    </li>
  </ul>
</div>





<div class="col-md-6 col-md-offset-6">
  <div class="row">
    <div class="panel-heading">
      <ul class="pricing-table">
        <li class="title">My Account</li>
        <li class="price"><%= @user.user_name %></li>
        <li class="price"><%= @user.email %></li>
        <li class="price">Annual Goal: <%= @user.goal %></li>
        <li class="price">Amount Given: <%= @user.amount_given %></li>
        <li class="price">Account: <%= @user.account %></li>
        <li class="price">Contributed to: </li>

        <% @user.causes.uniq.each do |cause|  %>
          <li class="price">
           <%= link_to cause.name, cause_path(cause)%>
            <% end %>

          </li>

        <li class="cta-button"><%= link_to 'Edit My Account', edit_user_registration_path, class: 'button round' %></li>
        <li class="cta-button"><%= link_to "Delete My Account", user_registration_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button round' %></li>

      </ul>
    </div>
  </div>
</div>
