<div class="row">
  <ul class="medium-block-grid-4 text-right">
    <li>
      <br><%= link_to image_tag('profile_label.png'), "/" %>
    </li>
    <li>
    </li>
    <li>
    </li>
    <li>
      <br><%= link_to image_tag('all.png'), causes_path%>

        <% if user_signed_in? %>
          <%= link_to image_tag('profile.png'), user_path(current_user) %>
        <% else %>
          <%= link_to image_tag('profile.png'), new_user_session_path %>
        <% end %>

      <%= link_to image_tag('plus.png'), new_cause_path %>
    </li>
  </ul>
</div>

<div class="row">
  <ul class="medium-block-grid-4">
    <li>
    </li>
  </ul>
</div>


<div class="row">
  <ul class="large-block-grid-4 progress-box">
    <li>
      <div class="progress">
        <span class="meter" style="width: <%= current_user.percent_given %>%"></span>
      </div>
    </li>
  </ul>
</div>

<div class="row">
  <ul class="medium-block-grid-1 goal-box">
    <li class="goal">meet your goal</li>
  </ul>
</div>


<div class="col-md-6 col-md-offset-6 causes-box">
  <div class="row">
    <p class="my-causes">my causes: </p>
    <% @user.causes.uniq.each do |cause|  %>
      <p class="cause-list">
        <%= link_to cause.name, cause_path(cause)%>
      </p>
    <% end %>
    <p class="edit-links">
      <%= link_to 'edit or', edit_user_registration_path %>
      <%= link_to "delete profile", user_registration_path, method: :delete, data: { confirm: 'Are you sure?' } %>
      </p>
  </div>
</div>