<div class="row">
  <ul class="medium-block-grid-4 text-right">
    <li>
      <br><%= link_to image_tag('give.png'), "/" %>
    </li>
    <li>
    </li>
    <li>
    </li>
    <li>
      <br><%= link_to image_tag('all.png'), causes_path%>
      <%= link_to image_tag('plus.png'), new_cause_path %>

        <% if user_signed_in? %>
          <%= link_to image_tag('profile.png'), user_path(current_user) %>
        <% else %>
          <%= link_to image_tag('profile.png'), new_user_session_path %>
        <% end %>

    </li>
    </li>
  </ul>
</div>
<div class="row">
  <ul class="medium-block-grid-4">
    <li>
    </li>
  </ul>
</div>

<div class="row">
  <ul class="large-block-grid-4">

    <% @causes.each do |cause| %>

    <li class = "index-icons">  <%= link_to image_tag("#{cause.image}"), cause_path(cause) %> </li>

    <% end %>
  </ul>

</div>


