<%= link_to "All Causes", causes_path %>

<h1><%=@cause.name%></h1>

<table class="causes">
  <thead>
    <tr>
      <th width="100">Name</th>
      <th width="100">Category</th>
      <th width="100">$1 Means: </th>
      <th width="100">Address</th>
      <th width="100">Phone</th>
      <th width="100">URL</th>
      <th width="100">Image</th>

    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @cause.name %></td>
        <td><%= @cause.category %></td>
        <td><%= @cause.description %></td>

        <td>
          <p>
            <%= @cause.street %>
            <br>
            <%= @cause.city %>, <%= @cause.state %> <%= @cause.zip %>
          </p>
        </td>

        <td><%= @cause.phone %></td>
        <td><%= @cause.url %></td>
        <td><%= @cause.image %></td>

      </tr>
  </tbody>
</table>

<%= link_to "Edit", edit_cause_path(@cause) %></br>
<%= link_to "Delete this Cause", cause_path(@cause), method: :delete,
                                  data: { confirm: 'Are you sure?' } %>

