
<div class="row">
  <ul class="medium-block-grid-4">
    <li>
      <br><%= link_to image_tag('give.png'), "/" %>
    </li>
    <li>
    </li>
    <li>
    </li>
    <li>
      <br><%= link_to image_tag('all.png'), causes_path%>

      <% if user_signed_in? %>
      <%= link_to image_tag('profile.png'), user_path(current_user) %>
      <% else %>
      <%= link_to image_tag('profile.png'), new_user_session_path %>
      <% end %>

      <%= link_to image_tag('plus.png'), new_cause_path %>
    </li>
  </ul>
</div>
<div class="row">
  <ul class="medium-block-grid-4">
    <li></li>
    <li class="form-header">log in</li>
  </ul>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="row">
  <div class="small-8">
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in", class: 'button round' %>
    </div>
    <% end %>
    <div><%= render "devise/shared/links" %></div>
  </div>
</div>


